@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*{
    margin: 0;
    padding:0;
    font-family: Arial;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

a{
    text-decoration: none;
    color: #000000;
}
.bg{
    background: url('img/bg.jpg') center top fixed no-repeat;
    background-size: 100% 100%;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    position: fixed;
    width:100%;
    height:100%;
    z-index: -1;

}
.center{
    width: 80%;
    margin: 0 auto;
}
.films{
    margin-top: 50px;
}
.box{
    margin: 0 auto;
    height: 230px;
    color: #fff;
    width: 575px;
}
.box-item{
    color: #fff;
}
.online{

}
.name{
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
}
.img{
    border: 0;
    border-radius: 5px;
    float: left;
    margin-right: 30px;
}
.opt{
    width: 575px;
    margin-top: 15px;
    font-size: 15px;
}
.video{
    width: 765px;
    height: 383px;
    z-index: 1000;
    display: block;
}
.name-film{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin: 10px 0;
    width:500px;
}
.option{
    color: #eeeeee;
    width: 720px;
    /*margin: 10px auto;*/
    /*margin-bottom: 50px;*/
}
.label{
    color: #ffffff;
    font-size: 20px;
}
.input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 20px;
    border: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btn{
    border: 0;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    background: #fff;
    color: #112233;
    font-size: 17px;
    font-weight: 600;
}
.menu{
    width: 1010px;
    height: 100px;
    background: #1e2535;
    margin: 0 auto;
    margin-top: 70px;
}
.pagination{
    margin: 0 auto;
    width: 270px;
}
.pagination > li{
    list-style-type: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block!important;
}
.pagination > li > a{
    color: #d4d4d4;
    padding: 5px;
    background: #20283a;
    border: solid 1px #525252;
    border-radius: 3px;
    margin: 0 2px;
}

.pagination > li > a:hover{
    background: #848484;
}
.pagination > li >span{
    color: #fff;
    padding: 5px;
    background: #1c2b42;
    border: solid 1px #525252;
    border-radius: 3px;
    margin: 0 2px;
}
.pag-pos{
    text-align: center;
    margin-top: 20px;
}
.left{
    float: left;
    width: 200px;
    height: 100%;
    background: #12161f;
}
.right{
    width: 800px;
    float: right;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 0 10px 10px 0;
}
.column{
    margin: 0 auto;
    background: #12161f;
    width: 1010px;
    height: 1426px;
    border: 0;
    margin-bottom: 30px;
}
.option-item{
    display: inline-block;
    margin-top: 10px;
}
.img-film{
    border: 0;
    border-radius: 5px;
    float: left;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    margin-right: 20px;
    width: 200px;
    height: 300px;
}
.option-text{
    width: 760px;
    font-size: 14px;
}
.genre{
    margin-top: 30px;
    font-size: 14px;
}
.genre>a{
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
}
.line{
    height: 1px;
    background: #969696;
    border-radius: 4px;
    margin: 30px auto 0px auto;
}
.rating {
    margin-top: 25px;
}
.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 15px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating > .half:before {
    content: "\f089";
    position: absolute;
    font-size: 15px;
}
.rating > label {
    color: #969696;
    float: right;

}
.rating > input:checked ~ label{
    color: #ffc800;
}
.mask{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    display: none;
}
.active{
    display: block !important;
}
.masked{
    display: block;
    margin-top: 20px;
    font-size: 17px;
    color: #c1c1c1;
    z-index: 1;
    cursor: pointer;
}
.film{
    padding: 5px 14px;
    color: #fff;
    display: inline-block;
    /* border: solid 1px #808080; */
    /* border-bottom: 0; */
    /* border-radius: 5px 5px 0px 0px; */
    font-size: 17px;
    background: #3a3a3a;
    cursor: pointer;
}
.film:hover{
    background: #676666;
}
.display{
    display: none !important;
}
.act{
    background: #2b2b2b !important;
}
.prev{
    display: none;
    margin-bottom: -3px;
}
.act{
    background: #3a3a3a;
}
.search{
    border-radius: 15px;
    border: 0;
    height: 26px;
    padding-left: 10px;
    padding-right: 27px;
    display: inline-block;
    background: #333d54;
    margin: 37px;
    color: #c3c3c3;
}
.search-button{
    background: transparent !important;
    border: 0;
    display: inline-block;
    margin-left: -65px;
}
.fa-search:before{
    font-family: FontAwesome;
    font-style: normal;
    content: "\f002";
    color: #989898;
}
.add > label{
    color: #fff;
    margin-bottom: 5px;
    display: inline-block;
}
.add > input{
    width: 300px;
    border: 0;
    border-radius: 5px;
    height: 25px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
.add > button{
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: #909090;
    color: #fff;
}

.hint{
    display: inline-block;
    background: #fff;
    border: 0;
    border-radius: 30px;
    padding: 3px;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-left: 10px;
}
.hint:hover::after{
    content: attr(data-title);
    position: absolute;
    color: #fff;
    margin-left: 20px;
    width: 150px;
    z-index: 1;
    border: solid 1px #b3b3b3;
    background: rgba(130, 130, 130, 0.7);
    padding: 2px;
}
.regs{
    font-size: 16px;
    display: inline-block;
    float: right;
    line-height: 100px;
    margin-right: 40px;
}
.reg{
    color: #fff;
    margin-left: 15px;
}
.log{
    color: #fff;
}
.logout{
    color:#fff;
    margin-left: 15px;
    font-size: 14px;
}
.user-name{
    color: #fff;
    font-size: 14px;
}
.home{
    color: #fff;
    margin-top: 20px;
    position: absolute;
}
.page-name{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}
.form-group{
    color: #fff;
    margin-top: 15px;
    font-size: 15px;
}
.form-group>label{
    font-size: 13px;
}
.form-group>label>div{
    color: rgba(255, 60, 60, 0.84);
    display: inline-block;
}
.form-control{
    height: 25px;
    width: 540px;
    border-radius: 5px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    background: #8c8c8c;
}
.btn-auth{
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    border-radius: 5px;
    color: #383838;
    background: #cecece;
    margin-top: 5px;
}
.btn-link{
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
}
.panel-body{
    color: #FFFFFF;
    font-size: 18px;
}
.sorry{
    color: #fff;
    padding-left: 8px;
}
.success{
    color: #fff;
    padding-left: 8px;
}
.logo{
    width: 174px;
    height: 74px;
    display: inline-block;
    background: #e74b3c;
    word-wrap: break-word;
    color: #fff;
    font-size: 35px;
    padding: 13px;
    float: left;
    font-weight: 600;
}
.logo > div{
    font-size: 9px;
    display: inline-block;
    font-weight: 600;
}
.item{
    width:97px;
}
.item-name{
    padding: 7px 3px;
    text-align: center;
    background-color: rgba(173, 173, 173, 0.57);
    color: #ffffff;
    font-size: 11px;
    opacity: 0;
    white-space: normal;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 91px;
}
.item:hover > .item-name {
    opacity: 1;
}
.all{
    margin-top: 29px !important;
}
.all > label::before{
    font-size: 12px !important;
}
.menu-btn{
    padding-left: 32px;
    padding-right: 32px;
    height: 35px;
    line-height: 35px;
    color: #bdbdbd;
    background: #1e2535;
}
.menu-list{
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 5px;
}
.menu-list>a{
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    width: 132px;
    font-size: 13px;
}
.comment{
    margin-top: 10px;
}
.comment-text{
    font-size: 17px;
    color: #e0e0e0;
}
.comment-textarea{
    width: 765px;
    height: 45px;
    background: #333d54;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    color: #c3c3c3;
    padding: 5px;
    resize: none;
}
.comment-btn{
    width: 100px;
    height: 25px;
    background: #232c40;
    border: 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 5px;
}
.user-comment{
    width: 765px;
    height: 200px;
    margin-top: 11px;
    overflow-y: auto ;
    overflow-x: hidden;
}
.user-comment-box{
    width: 749px;
    background: #474747;
    padding: 8px;
    font-size: 12px;
    color: #ccc;
    border: 0;
    border-radius: 5px;
    margin-top: 2px;
}
.user-comment-box .name{
    float: left;
    font-size: 12px;
    margin: 0;
}
.user-comment-box .date{
    float: right;
}
.user-comment-box .text{
    width: 660px;
    color: #969696;
    word-wrap: break-word;
}
/*::-webkit-scrollbar-button {*/
    /*background-image:url('');*/
    /*background-repeat:no-repeat;*/
    /*width:50px;*/
    /*height:0px*/
/*}*/

.h1{
    color: #fff;
}

::-webkit-scrollbar-track {
    background-color: #e3e4e5
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #7a7a7a;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #a0a0a0;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:2px;
    height:0px
}

::-webkit-scrollbar{
    width: 1px;
}
.guest{
    height: 100px;
    color: #e0e0e0;
    font-size: 17px;
    margin-top: 10px;
    line-height: 115px;
}
.guest .log{
    text-decoration: underline;
}
.guest .reg{
    text-decoration: underline;
    margin: 0;
}
.vip{
    color: #e20300;
    font-size: 12px;
    display: inline-block;
}